<h1>THIS IS MY LIBRARY!!!!</h1>


<br>

<div class="table-wrapper">
  <full-material-table
  [data]="fakeData"
  [columns]="columns"
  [filter]="''"
  class="table">

    <ng-template let-tipoTramite #actions>
      <div class="d-flex justify-content-start align-items-center actions-td">
        <button mat-mini-fab color="primary" class="margin">
          <mat-icon>edit</mat-icon>
        </button>

        <mat-slide-toggle title="habilitar / inhabilitar tipo de trámite"></mat-slide-toggle>
      </div>
    </ng-template>
  </full-material-table>
</div>
